<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="enable_dji" default="true" />
	<arg name="enable_px4" default="false" />

	<include file="$(find de_airsense)/launch/dji.launch" if="$(arg enable_dji)"/>
	<include file="$(find de_airsense)/launch/px4.launch" if="$(arg enable_px4)"/>

</launch>